.ultimos {
    background-color: var(--cor-de-fundo-cinza);
}

.ultimos__titulo {
    padding: 1em 0 0.5em;
    text-transform: uppercase;
    color: var(--cor-laranja);
    background-color: var(--cor-branco);
    font-weight: 700;
    text-align: center;
    font-size: 1.125em;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination-bullet {
    background-color: var(--cor-cinza);
}

.swiper-pagination-bullet-active {
    background: var(--cor-azul-degrade);
}

.card {
    margin: 1.5em 1em;
    background-color: var(--cor-branco);
    border-radius: 10px;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 600px;
}

.descricao {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.descricao__titulo {
    font-weight: 700;
    color: var(--cor-laranja);
}

.descricao__titulo--livro {
    font-size: 1.125em;
    color: var(--cor-azul);
    font-weight: 700;
}

.card__imagem {
    text-align: center;
}

.card__icones {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

.card__icones img {
    width: 30hpx;
    height: 30hpx;
}

.card__botao {
    text-align: center;
}

.card__botao__link {
    background-color: var(--cor-laranja);
    color: var(--cor-branco);
    text-decoration: none;
    width: 130px;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    padding: 12px 16px;
}

@media screen and (min-width: 1024px) {
    .ultimos__titulo {
        padding: 2rem 0 1rem;
        font-size: 1.625rem;
    }

    .swiper {
        max-width: 800px;
    }

    .swiper-pagination {
        margin: 2rem 0 1rem;
    }

    .swiper-button-prev, .swiper-button-next {
        display: block;
        top: 55%;
        background: var(--cor-azul-degrade);
        border-radius: 25px;
        width: 50px;
        height: 50px;
        text-align: center;
        color: var(--cor-branco);
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
        font-size: 0.5rem;
        line-height: 50px;
    }

    .swiper-button-next:after {
        content: 'next';
    }

    .swiper-button-prev:after {
        content: 'prev';
    }

    .swiper-wrapper {
        padding: 3rem 0;
    }

    .swipper_imagem {
        max-width: 200px;
    }

    .card {
        max-width: 600px;
        margin: 0 auto 3rem;
    }
}

@media screen and (min-width: 1728px) {
    .ultimos__conteudo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
        padding: 1rem 0 4rem;
    }

    .swiper {
        margin: 0;
    }
    .card {
        margin: auto 0 2rem;
    }

    .swiper-wrapper {
        padding: 1rem 0 0 2rem;
    }

    .card {
        grid-template-columns: 2fr 1fr;
        height: 250px;
    }

    .descricao {
        gap: 1rem;
    }
    .descricao__titulo {
        font-size: 2rem;
        line-height: 2.5rem;
    }
}