.visitados {
    background: var(--cor-azul-degrade);
    padding: 1.5rem 1rem;
}

.visitados__titulo {
    color: var(--cor-branco);
    font-weight: 300;
    text-align: center;
    margin: 0 0 1.5rem;
}

.visitados__lista {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: center;
}

.visitados__item {
    background-color: var(--cor-laranja);
    padding: 1rem 1.5rem;
}

.visitados__link {
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--cor-branco);
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    .visitados {
        padding: 2rem 5rem;
    }
    .visitados__titulo {
        font-size: 1.5rem;
        font-weight: 300;
    }
    .visitados__link {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1728px) {
    .visitados {
        padding: 4rem 25vw;
    }
    .visitados__titulo {
        font-size: 2rem;
    }
    .visitados__lista {
        margin-top: 3rem;
    }
}